TELEGRAM_API_TOKEN=
TELEGRAM_CHAT_ID=

APP_PORT=8080

LOG_LEVEL=debug

PG_HOST=postgres
PG_USER=binance
PG_PASSWORD=binance
PG_DBNAME=binance
PG_SSL_MODE=disable

MONGO_HOST=mongodb
MONGO_USER=binance
MONGO_PASSWORD=binance
MONGO_DBNAME=admin

BINANCE_API_KEY=
BINANCE_SECRET_KEY=

BINANCE_URL=https://fapi.binance.com
BINANCE_URL_1=https://fapi.binance.com
BINANCE_URL_2=https://fapi.binance.com
BINANCE_URL_3=https://fapi.binance.com