TELEGRAM_API_TOKEN=5371942209:AAFAev8L0N1wSjHqge5yVhTAngjbXZR_kvM

BINANCE_API_KEY=4a085ff2a656ae6f0691609e7efad4fc1ba1623c11464a0460ab65bb08512ce7
BINANCE_SECRET_KEY=4a085ff2a656ae6f0691609e7efad4fc1ba1623c11464a0460ab65bb08512ce7
BINANCE_URL=https://testnet.binancefuture.com
BINANCE_URL_1=https://testnet.binancefuture.com
BINANCE_URL_2=https://testnet.binancefuture.com
BINANCE_URL_3=https://testnet.binancefuture.com